*,
*::before,
*::after {
    margin: 0;
    padding: 0px;
    border: none;
}

#app {
    overflow: hidden;
    margin: 15px;
    height: 100%;
}

body {
    background: #000;
    overflow: hidden !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.xterm,
.xterm-viewport {
    overflow-y: hidden !important;
}
