*,
*::before,
*::after {
    margin: 0;
    padding: 0px;
    border: none;
}

/* main */

#app {
    overflow: hidden;
    margin: 15px;
}

body {
    background: #000;
    overflow: hidden !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.xterm,
.xterm-viewport {
    overflow-y: hidden !important;
}

/* logger */

#logger {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 160px;
    overflow-y: auto;
}

#logger div {
    margin-bottom: 15px;
}
